---
layout: default2
title: Projects
permalink: /projects

---

{% assign selected_status = "Active" %}

{% assign projects = site.projects | sort: 'date' | reverse %}

{% for project in projects %}
    {% if project.status == selected_status %}
        <article>
            <h2>
                <a href="{{ project.url }}">
                    {{ project.title }}
                </a>
            </h2>
            <p>{{ project.date | date: "%B %Y" }}</p>
            <p>{{ project.description }}</p>
            <p>
                {% for tag in project.tags %}
                    <a href="/blog/category/{{ tag }}">#{{ tag }}</a>

                {% endfor %}
                 <a href="{{ project.github }}" target="_blank">Github</a>
            </p>
        </article>
    {% endif %}

{% endfor %}