

<footer class="site-footer">
  <ul class="list-inline text-center footer-menu">
    <li><a href="index.html">About </a></li>
    <li><a href="https://chris-lamb.co.uk/blog">Blog </a></li>
    <li><a href="https://chris-lamb.co.uk/projects">Projects </a></li>
  </ul>
  <div class="text-center footer-social-icons">
    <a class="navbar-link navbar-social-icon" href="https://github.com/lamby"><i class="fa fa-github"></i></a>
    <a target="_blank" href="https://twitter.com/lolamby"><i class="fa fa-twitter"></i></a>
    <p class="text-center copyright">Copyright &copy; 2016-2020 <a href='{{ "/" | relative_url }}'>{{ site.title | escape }}</a></p>
  </div>
</footer>
