.navbar.navbar-default {
  background:transparent;
  border-color:transparent;
  box-shadow:none;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-family:'Lato', sans-serif;
  font-size:43px;
  font-weight:500;
  font-style:normal;
  letter-spacing:0.05em;
  line-height:0.9em;
  text-transform:lowercase;
  color:#222;
  height:auto;
}
.navbar-default .navbar-nav > li > a {
  color:#222;
  margin:0 0.618em;
  padding:0.618em 0;
  outline:0;
  -webkit-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -moz-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -ms-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -o-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  text-decoration:none;
  background-color:transparent;
  text-transform:uppercase;
  line-height:1em;
  font-family:'Lato', sans-serif;
  font-size:10.5px;
  font-weight:700;
  letter-spacing:0.14em;
  white-space:normal;
}
.navbar-nav .open .dropdown-menu {
  background-color:transparent;
  color:#222;
  font-style:normal;
  font-size:9.5px;
  letter-spacing:.14em;
  text-transform:uppercase;
  line-height:1em;
  vertical-align:middle;
  border:none;
  box-shadow:none;
  margin:1em;
  -webkit-font-smoothing:subpixel-antialiased;
  -moz-osx-font-smoothing:auto;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  padding:0.382em;
  display:block;
  color:#222;
  outline:0;
  font-family:'Hind Siliguri', sans-serif;
  font-weight:400;
  font-size:10px;
  -webkit-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -moz-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -ms-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -o-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
}
@media (max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    font-size:12px;
  }
}
.navbar-default .navbar-nav .open:hover .dropdown-menu > li > a {
  color:rgba(34, 34, 34, .4);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color:#222;
}
#navbar-wrapper {
  margin:0;
}
@media (min-width:768px) {
  .navbar-logo-centered #navbar-wrapper {
    float:none;
  }
}
@media (min-width:768px) {
  #navbar-wrapper {
    float:right;
    padding:24px 0 24px 5px;
  }
}
.nav.navbar-nav:hover > li > a {
  color:rgba(34, 34, 34, .4);
}
.navbar-default .navbar-nav > li > a:hover {
  color:#222;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color:#222;
  outline:0;
  box-shadow:none;
  background-image:none;
  background-color:transparent;
}
.navbar-default .navbar-text {
  margin:0;
}
.navbar-social-icons .navbar-social-icon {
  margin:4.13px;
  color:#222;
  display:inline-block;
  position:relative;
  overflow:hidden;
  cursor:pointer;
  width:14px;
  text-decoration:none;
  text-align:center;
  transition:background-color 170ms ease-in-out;
  -webkit-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -moz-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -ms-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -o-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
}
.navbar-social-icons:hover > a {
  color:rgba(34, 34, 34, .4);
}
@media (min-width:768px) {
  .navbar-nav {
    margin:3px 5px;
  }
}
.navbar-social-icons .navbar-social-icon i {
  font-size:16px;
}
.site-header {
  max-width:1610px;
  margin-left:auto;
  margin-right:auto;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:50px 165px;
}
@media (max-width:992px) {
  .site-header {
    padding:50px 31px;
  }
}
@media (max-width:768px) {
  .site-header {
    padding:8px 0 0;
  }
}
@media (max-width:768px) {
  .site-header.logo-centered {
    padding:8px 0 50px;
  }
}
.navbar-default .navbar-toggle {
  border:none;
  padding:8px;
  margin:15px 10px;
  background:transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color:#222;
  height:2.5px;
  margin-left:auto;
}
.navbar-default .navbar-toggle .icon-bar.first-icon-bar {
  width:33px;
}
.navbar-default .navbar-toggle .icon-bar.last-icon-bar {
  width:27px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:transparent;
}
@media (max-width:767px) {
  .navbar-default .navbar-nav > li > a {
    font-size:13px;
  }
}
.post-summary .post-date {
  margin:0;
  white-space:normal;
  display:inline-block;
  vertical-align:middle;
}
.post-summary .post-title a {
  display:block;
  margin:0 0 2px 0;
  color:#222;
  font-size:13px;
  font-weight:300;
  font-style:normal;
  font-family:'Lora', serif;
  line-height:1.4em;
  text-transform:none;
  text-decoration:none;
  white-space:normal;
  transition:all 0.3s linear;
}
.post-summary .post-title {
  margin:0 0 4px;
  display:block;
}
.post-summary .post-title a:hover {
  text-decoration:underline;
}
.post-summary .post-meta {
  display:block;
  position:relative;
  overflow:hidden;
  clear:both;
  opacity:0.7;
  color:#222;
  font-size:12px;
  font-weight:300;
  font-style:normal;
  font-family:'Lora', serif;
  line-height:1.4em;
  text-transform:none;
}
@media (min-width:769px) {
  .primary-navigation .container-fluid {
    padding:0;
  }
}
.headline h3 {
  color:#222;
  font-family:'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:.2em;
  line-height:1.6em;
  text-transform:uppercase;
  margin-top:0;
  margin-bottom:0;
}
@media (max-width:768px) {
  .headline .heading {
    text-align:center;
    margin-bottom:10px;
  }
}
@media (min-width:768px) {
  .headline .heading {
    text-align:left;
  }
}
@media (max-width:768px) {
  .headline .see-all-posts {
    text-align:center;
  }
}
@media (min-width:768px) {
  .headline .see-all-posts {
    text-align:right;
  }
}
.headline {
  padding-top:17px;
  padding-bottom:17px;
  position:relative;
  overflow:hidden;
}
.recent-posts .post-summary .post-title a {
  font-size:18px;
}
.recent-posts .post-summary .post-date {
  font-size:13px;
}
.row.headline + .row.posts-wrapper {
  margin-top:49px;
}
.posts-widget .post-summary .post-date {
  font-size:14px;
}
.posts-widget .post-summary .post-title a {
  font-size:19px;
}
.posts-widget .post-summary .post-date {
  font-size:14px;
}
.posts-widgets .post-summary .post-title a {
  font-size:17px;
}
.posts-widgets .post-summary .post-date {
  font-size:13px;
}
.row.post-widget-wrapper {
  padding-bottom:17px;
}
.row.headline + .row.post-widget-wrapper {
  margin-top:19px;
}
.intro .buttons .btn {
  padding:16px 32px;
  margin:6px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  line-height:1;
}
.instafeed .headline p {
  font-weight:lighter;
  font-style:italic;
  font-size:14.25px;
  font-family:'Libre Baskerville', serif;
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  margin-bottom:23px;
}
.instafeed .headline h2 {
  font-size:30px;
  letter-spacing:.18em;
  line-height:1.45em;
}
.heading {
  color:#222;
  font-weight:700;
  font-family:'Lato', sans-serif;
  font-style:normal;
  font-size:30px;
  letter-spacing:.18em;
  line-height:1.2em;
  text-transform:uppercase;
  margin-top:0;
}
.btn.btn-submit-inverse:hover {
  opacity:1;
  border-color:#222;
  color:#fff;
}
.btn.btn-submit-inverse:active {
  transform:translateY(1px);
}
.btn.btn-submit-inverse {
  color:#222;
  z-index:1;
  width:auto;
  height:auto;
  padding:1em 2.5em;
  border-radius:3px;
  border:1px solid #222;
  font-size:15px;
  font-family:'Lora', sans-serif;
  line-height:normal;
  font-weight:normal;
  letter-spacing:0.4px;
  text-align:center;
  text-transform:uppercase;
  white-space:nowrap;
  background:transparent;
  text-shadow:none;
  box-shadow:none;
  opacity:0.9;
  -webkit-transition:0.1s background-color linear, 0.1s color linear;
  -moz-transition:0.1s background-color linear, 0.1s color linear;
  -o-transition:0.1s background-color linear, 0.1s color linear;
  transition:0.1s background-color linear, 0.1s color linear;
  -webkit-box-shadow:inset 0px 0px 0px 1px #222;
  -moz-box-shadow:inset 0px 0px 0px 1px #222;
  box-shadow:inset 0px 0px 0px 1px #222;
}
footer.site-footer .footer-menu {
  width:auto;
  list-style:none;
  margin:0 auto;
  padding-bottom:20px;
}
footer.site-footer .footer-menu li a {
  color:#222;
  margin:0 0.618em;
  padding:0.618em 0;
  outline:0;
  -webkit-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -moz-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -ms-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -o-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  text-decoration:none;
  background-color:transparent;
  text-transform:uppercase;
  line-height:1em;
  font-family:'Lato', sans-serif;
  font-size:10.5px;
  font-weight:700;
  letter-spacing:0.14em;
  white-space:normal;
}
footer.site-footer .footer-menu li a:hover {
  color:rgba(34, 34, 34, .5);
}
footer.site-footer .footer-social-icons {
  width:100%;
  height:auto;
  margin:0 auto;
  padding:20px 17px;
  outline:none;
  box-shadow:inset 0 0 0 1px rgba(128, 128, 128, 0);
  -webkit-transition:box-shadow .2s ease-in-out;
  transition:box-shadow .2s ease-in-out;
  clear:both;
}
footer.site-footer .footer-social-icons > a {
  color:#222;
  width:16px;
  margin:0 5px;
  display:inline-block;
  position:relative;
  overflow:hidden;
  cursor:pointer;
  text-decoration:none;
  z-index:0;
  font-size:17.25px;
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  transition:background-color 170ms ease-in-out;
  -webkit-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -moz-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -ms-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  -o-transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
  transition:color 170ms ease-in-out, background-color 170ms ease-in-out;
}
footer.site-footer .footer-social-icons:hover > a {
  color:rgba(34, 34, 34, .4);
}
footer.site-footer .footer-social-icons > a:hover {
  color:#333;
}
footer.site-footer .copyright {
  color:rgba(29, 29, 29, .3);
  display:block;
  margin:0 auto;
  word-wrap:break-word;
  font-weight:400;
  font-style:italic;
  font-size:14.25px;
  font-family:'Libre Baskerville', serif;
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  padding-top:20px;
  padding-bottom:88px;
}
footer.site-footer .copyright a:hover {
  text-decoration:none;
  color:rgba(29, 29, 29, .18);
  border-color:rgba(29, 29, 29, .045);
}
footer.site-footer {
  padding:65px 185px;
}
footer.site-footer .copyright a {
  color:rgba(29, 29, 29, .3);
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  -webkit-transition:color .15s ease-out;
  -moz-transition:color .15s ease-out;
  -ms-transition:color .15s ease-out;
  -o-transition:color .15s ease-out;
  transition:color .15s ease-out;
  padding-bottom:.05em;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(29, 29, 29, .09);
  -webkit-transition:border-color .15s ease-out, color .15s ease-out;
  -moz-transition:border-color .15s ease-out, color .15s ease-out;
  -ms-transition:border-color .15s ease-out, color .15s ease-out;
  -o-transition:border-color .15s ease-out, color .15s ease-out;
  transition:border-color .15s ease-out, color .15s ease-out;
}
article.single-post .meta li {
  font-weight:500;
  font-style:italic;
  font-size:13px;
  font-family:'Libre Baskerville', serif;
  letter-spacing:.01em;
  text-transform:none;
  color:rgba(29, 29, 29, .4);
  margin:0 0.618em;
  padding:0.618em 0;
}
article.single-post .meta a {
  color:rgba(29, 29, 29, .3);
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  -webkit-transition:color .15s ease-out;
  -moz-transition:color .15s ease-out;
  -ms-transition:color .15s ease-out;
  -o-transition:color .15s ease-out;
  transition:color .15s ease-out;
  padding-bottom:.05em;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(29, 29, 29, .09);
  -webkit-transition:border-color .15s ease-out, color .15s ease-out;
  -moz-transition:border-color .15s ease-out, color .15s ease-out;
  -ms-transition:border-color .15s ease-out, color .15s ease-out;
  -o-transition:border-color .15s ease-out, color .15s ease-out;
  transition:border-color .15s ease-out, color .15s ease-out;
}
article.single-post .meta a:hover {
  text-decoration:none;
  color:rgba(29, 29, 29, .18);
  border-color:rgba(29, 29, 29, .045);
}
.single-title {
  color:#222;
  margin:0 0 44px;
  font-weight:400;
  font-style:normal;
  font-size:39px;
  font-family:'Lora', serif;
  letter-spacing:.01em;
  line-height:1.2em;
  text-transform:none;
}
.meta {
  margin-bottom:40px;
}
article.single-post .featured-image img {
  padding-bottom:17px;
  margin-bottom:17px;
}
.entry-content p {
  margin:0 0 20px;
}
.single-content .post-categories {
  color:rgba(29, 29, 29, .4);
  display:block;
  margin:0 auto;
  word-wrap:break-word;
  font-weight:400;
  font-style:italic;
  font-size:13.25px;
  font-family:'Libre Baskerville', serif;
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  padding-bottom:5px;
}
.single-content .post-categories a {
  color:rgba(29, 29, 29, .3);
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  text-decoration:none;
  -webkit-transition:color .15s ease-out;
  -moz-transition:color .15s ease-out;
  -ms-transition:color .15s ease-out;
  -o-transition:color .15s ease-out;
  transition:color .15s ease-out;
  padding-bottom:.05em;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(29, 29, 29, .09);
  -webkit-transition:border-color .15s ease-out, color .15s ease-out;
  -moz-transition:border-color .15s ease-out, color .15s ease-out;
  -ms-transition:border-color .15s ease-out, color .15s ease-out;
  -o-transition:border-color .15s ease-out, color .15s ease-out;
  transition:border-color .15s ease-out, color .15s ease-out;
}
.single-content .post-categories a:hover {
  text-decoration:none;
  color:rgba(29, 29, 29, .18);
  border-color:rgba(29, 29, 29, .045);
}
.single-content .post-tags {
  color:rgba(29, 29, 29, .4);
  display:block;
  word-wrap:break-word;
  font-weight:400;
  font-style:italic;
  font-size:13.25px;
  font-family:'Libre Baskerville', serif;
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  padding-bottom:5px;
}
.single-content .post-tags a {
  color:rgba(29, 29, 29, .3);
  letter-spacing:.01em;
  line-height:1.9em;
  text-transform:none;
  text-decoration:none;
  -webkit-transition:color .15s ease-out;
  -moz-transition:color .15s ease-out;
  -ms-transition:color .15s ease-out;
  -o-transition:color .15s ease-out;
  transition:color .15s ease-out;
  padding-bottom:.05em;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(29, 29, 29, .09);
  -webkit-transition:border-color .15s ease-out, color .15s ease-out;
  -moz-transition:border-color .15s ease-out, color .15s ease-out;
  -ms-transition:border-color .15s ease-out, color .15s ease-out;
  -o-transition:border-color .15s ease-out, color .15s ease-out;
  transition:border-color .15s ease-out, color .15s ease-out;
}
.single-content .post-tags a:hover {
  text-decoration:none;
  color:rgba(29, 29, 29, .18);
  border-color:rgba(29, 29, 29, .045);
}
.single-content .entry-meta {
  padding-top:17px;
  padding-bottom:17px;
}
.headline h4 {
  color:#222;
  font-family:'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  letter-spacing:.2em;
  line-height:1.6em;
  text-transform:uppercase;
  margin-top:0;
  margin-bottom:0;
}
.comments-headline {
  margin-top:30px;
  padding:20px 0;
}
.btn.btn-submit {
  cursor:pointer;
  z-index:1;
  display:inline-block;
  padding:14px 18px;
  position:relative;
  color:#fcfcfc;
  width:auto;
  height:auto;
  border-radius:3px;
  border:1.5px solid #222;
  font-size:11px;
  font-style:italic;
  font-family:'Libre Baskerville', serif;
  line-height:normal;
  font-weight:normal;
  letter-spacing:0.4px;
  text-align:center;
  white-space:nowrap;
  background:#000;
  text-shadow:none;
  box-shadow:none;
  opacity:0.9;
  -webkit-transition:0.1s background-color linear, 0.1s color linear;
  -moz-transition:0.1s background-color linear, 0.1s color linear;
  -o-transition:0.1s background-color linear, 0.1s color linear;
  transition:0.1s background-color linear, 0.1s color linear;
  -webkit-box-shadow:inset 0px 0px 0px 1px #222;
  -moz-box-shadow:inset 0px 0px 0px 1px #222;
  box-shadow:inset 0px 0px 0px 1px #222;
}
.btn.btn-submit:hover {
  opacity:1;
  border-color:#222;
  color:#222;
}
.btn.btn-submit:active {
  background:transparent;
  transform:translateY(1px);
}
.entry-content blockquote p {
  color:inherit;
  font-style:italic;
  font-family:'Libre Baskerville', serif;
  line-height:1.4em;
}
.entry-content blockquote p {
  font-size:30px;
  font-family:'Libre Baskerville', serif;
  text-align:center;
  padding-bottom:30px;
  margin:0 auto !important;
  position:relative;
  -webkit-text-stroke:0.7px #fcfcfc;
  -moz-text-stroke:0.7px #fcfcfc;
  -ms-text-stroke:0.7px #fcfcfc;
}
.entry-content blockquote {
  padding-top:40px;
  padding-bottom:40px;
  border:none;
  overflow:hidden;
  position:relative;
}
@media (min-width:1200px) {
  .entry-content blockquote {
    margin-left:-70px;
    margin-right:-70px;
  }
}
.entry-content blockquote footer {
  padding:0;
  margin:0 auto;
  font-family:'Lato', sans-serif;
  text-align:center;
  position:relative;
}
.entry-content blockquote:before {
  top:0;
  left:25%;
  content:'';
  width:50%;
  height:100%;
  position:absolute;
  background-color:#222;
}
.widget ul li .post-date {
  opacity:0.7;
  color:#222;
  font-size:12px;
  font-weight:300;
  font-style:normal;
  font-family:'Lora', serif;
  line-height:1.4em;
  text-transform:none;
  white-space:normal;
  display:block;
  vertical-align:middle;
  margin:0 0 5px;
}
@media (max-width:992px) {
  footer.site-footer {
    padding:65px 16px;
    width:100%;
  }
}
@media (max-width:768px) {
  footer.site-footer {
    padding:65px 0;
    width:100%;
  }
}
.widget ul li .post-title {
  display:block;
  margin:0 0 2px 0;
  color:#222;
  font-size:13px;
  font-weight:300;
  font-style:normal;
  font-family:'Lora', serif;
  line-height:1.4em;
  text-transform:none;
  text-decoration:none;
  white-space:normal;
  transition:all 0.3s linear;
}
.widget ul li .post-title:hover {
  text-decoration:underline;
}
.single-content .post-tags a:before {
  content:'#';
}
article.single-page {
  max-width:1610px;
  margin-left:auto;
  margin-right:auto;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:0 150px 100px;
}
@media (max-width:992px) {
  article.single-page {
    padding:50px 16px;
    width:100%;
  }
}
@media (max-width:768px) {
  article.single-page {
    padding:50px 0;
    width:100%;
  }
}
.entry-content a {
  color:#272727;
  text-decoration:underline;
}
.entry-content ol, .entry-content ul {
  margin:0 0 36px;
}
.entry-content ol li > ol, .entry-content ul li > ul {
  margin:0;
  padding-top:8px;
}
.search-form div.input-group-btn button.btn {
  background:#fff;
  color:#222;
  width:auto;
  height:auto;
  font-size:13px;
  font-family:'Lora', sans-serif;
  letter-spacing:.01em;
  line-height:1.9em;
  padding:15px;
  border-top:1px solid rgba(0, 0, 0, .12);
  border-bottom:1px solid rgba(0, 0, 0, .12);
  border-right:1px solid rgba(0, 0, 0, .12);
  border-left:none;
  border-radius:0;
  text-transform:uppercase;
  white-space:nowrap;
  text-shadow:none;
  box-shadow:none;
  opacity:0.9;
  -webkit-transition:0.1s background-color linear, 0.1s color linear;
  -moz-transition:0.1s background-color linear, 0.1s color linear;
  -o-transition:0.1s background-color linear, 0.1s color linear;
  transition:0.1s background-color linear, 0.1s color linear;
}
.search-form div.input-group-btn button.btn:hover {
  opacity:1;
  background-color:#222;
  color:#fff;
}

.entry-content {
  color:#222;
  font-weight:400;
  font-style:normal;
  font-size:14.5px;
  font-family:'Lora', serif;
  letter-spacing:.01em;
  line-height:2.2em;
  text-transform:none;
}
.archive-posts .heading {
  font-size:20px;
}
.entry-content .nav-tabs > li {
  margin-bottom:-1px;
}
@media (max-width:1200px) {
  article.single-post .entry-content .alignleft {
    margin-left:0;
  }
}
@media (max-width:1200px) {
  article.single-post .entry-content .alignright {
    margin-right:0;
  }
}
.btn.btn-lg.btn-submit {
  padding:22px 25px;
  font-size:13px;
}
.btn.btn-sm.btn-submit {
  padding:12px;
  font-size:10px;
}
.btn.btn-xs.btn-submit {
  padding:8px;
  font-size:9px;
}
.btn.btn-lg.btn-submit-inverse {
  padding:1.1em 2.3em;
  font-size:17px;
}
.btn.btn-sm.btn-submit-inverse {
  padding:0.9em 2.1em;
  font-size:14px;
}
.btn.btn-xs.btn-submit-inverse {
  padding:0.8em 1.8em;
  font-size:13px;
}
@media (min-width:768px) {
  .navbar-logo-centered > .container .navbar-brand, .navbar-logo-centered > .container-fluid .navbar-brand {
    position:absolute;
    width:100%;
    left:0;
    top:0;
    text-align:center;
    margin:auto;
  }
}
.post-summary .post-categories {
  margin:0;
  white-space:normal;
  display:inline-block;
  vertical-align:middle;
}
.post-summary .post-categories a {
  color:inherit;
}
.post-summary .post-meta + .post-title {
  margin-top:4px;
}
.navbar-logo-top .navbar-social-icons {
  display:inline-block;
}
@media (min-width:768px) {
  .navbar-logo-top #navbar-wrapper {
    float:none;
    width:100%;
    padding-left:0;
    text-align:center;
  }
}
@media (min-width:768px) {
  .navbar-logo-top .nav.navbar-nav {
    float:none;
    display:inline-block;
  }
}
.site-header.logo-top + .recent-posts {
  margin:0 auto;
}
.site-header + .highlight-post {
  margin-top:5px;
}
.post-summary .post-meta a {
  color:inherit;
  vertical-align:middle;
}
.post-summary .post-meta i {
  padding-left:4px;
  font-size:14px;
  vertical-align:middle;
}
.intro .buttons .btn-readmore:after, .btn.btn-submit:after, .btn.btn-submit-inverse:after {
  position:absolute;
  content:"";
  width:100%;
  height:0;
  bottom:0;
  left:0;
  z-index:-1;
  background:#fff;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}
.btn.btn-submit:after {
  background:#fff;
}
.btn.btn-submit-inverse:after {
  background:#222;
}
.intro .buttons .btn-readmore:hover:after, .btn.btn-submit:hover:after, .btn.btn-submit-inverse:hover:after {
  top:0;
  height:100%;
}
.btn.btn-submit, .btn.btn-submit-inverse {
  position:relative;
}
article.single-post .entry-content blockquote {
  margin-top:80px;
  margin-bottom:80px;
}
.site-header.logo-top .logo-wrapper .logo {
  font-family:'Lato', sans-serif;
  font-size:43px;
  font-weight:500;
  font-style:normal;
  letter-spacing:0.05em;
  line-height:0.9em;
  text-transform:lowercase;
  color:#222;
  height:auto;
  text-decoration:none;
}
.site-header.logo-top .logo-wrapper {
  padding-bottom:20px;
}